name: Test Runner

on: [push]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Check runner
        run: |
          echo "✅ Runner работает!"
          uname -a
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Запуск Nginx через docker-compose
        run: |
          docker-compose up -d
          docker ps